In [ ]:
# -*- coding: utf-8 -*-

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 61.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.9/dist-packages (from konlpy) (1.22.4)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.1-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 35.2 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.9/dist-packages (from konlpy) (4.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from JPype1>=0.7.0->konlpy) (23.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [ ]:
import pandas as pd
import numpy as np
from konlpy.tag import *
import re
import pickle

In [ ]:
okt = Okt()

In [ ]:
dict2 = pd.read_excel("restaurant_dict2.xlsx").drop(['Unnamed: 0'], axis=1)

In [ ]:
dict2

      민감    즉흥       도전  미디어공유  플렉스      신속
0    조용한    간판      매운맛  인스타그램   고급     회전율
1    NaN   콜키지       현지   페이스북   와인      빠른
2    깨끗한    급한  처음 먹어보는    SNS  위스키  빨리 나오다
3    깔끔한    바로      신기한    스토리   비싼   패스트푸드
4   노키즈존  눈 앞에      향신료   플레이팅  트러플      금방
..   ...   ...      ...    ...  ...     ...
95   NaN   NaN      NaN    NaN  NaN     NaN
96   NaN   NaN      NaN    NaN  NaN     NaN
97   NaN   NaN      NaN    NaN  NaN     NaN
98   NaN   NaN      NaN    NaN  NaN     NaN
99   NaN   NaN      NaN    NaN  NaN     NaN

[100 rows x 6 columns]

In [ ]:
g = ['민감', '즉흥', '도전', '미디어공유', '플렉스', '신속']

In [ ]:
gkeys = [[],[],[],[],[],[]]
for i in range(6):
    for j in range(100):
        if not pd.isna(dict2[[g[i]]].iloc[j].values[0]):
            gkeys[i].append(dict2[[g[i]]].iloc[j].values[0])

In [ ]:
gkeys

[['조용한', '깨끗한', '깔끔한', '노키즈존', '번호표', '넓은', '널찍한', '편안한'],
 ['간판',
  '콜키지',
  '급한',
  '바로',
  '눈 앞에',
  '보이는 대로',
  '보자마자',
  '마침',
  '의외로',
  '곧바로',
  '즉흥적인',
  '직관적인',
  '이끌리다',
  '예상 못하다',
  '매력적인',
  '가게 앞 메뉴판',
  '맛있어 보이다',
  '눈에 들어오다'],
 ['매운맛',
  '현지',
  '처음 먹어보는',
  '신기한',
  '향신료',
  '강렬한',
  '강한',
  '특이한',
  '독특한',
  '로컬',
  '특별한',
  '새로운',
  '도전',
  '챌린지',
  '푸드파이트',
  '푸드파이터'],
 ['인스타그램',
  '페이스북',
  'SNS',
  '스토리',
  '플레이팅',
  '사진',
  '퍼포먼스',
  '불쇼',
  '공유',
  '자랑',
  '재미',
  '감성샷',
  '야경',
  '바다뷰',
  '리버뷰',
  '예쁜',
  '화려한'],
 ['고급',
  '와인',
  '위스키',
  '비싼',
  '트러플',
  '럭셔리',
  '오마카세',
  '미식',
  '콜키지',
  '샴페인',
  '페어링',
  '샥스핀',
  '캐비어',
  '푸아그라',
  '샤프란',
  '과소비'],
 ['회전율',
  '빠른',
  '빨리 나오다',
  '패스트푸드',
  '금방',
  '신속한',
  '온라인 예약',
  '캐치테이블',
  '이동성',
  '교통',
  '대중교통',
  '역 앞에 위치',
  '가까운',
  '후딱',
  '음식이 빨리']]

In [ ]:
a=0
indexnum=[]
for item in gkeys:
    indexnum.append(len(item))
    a+=len(item)
print(a)
print(indexnum)

90
[8, 18, 16, 17, 16, 15]

In [ ]:
dict2_w = pd.read_excel("restaurant_dict2_w.xlsx")

In [ ]:
dict2_w = dict2_w[["Unnamed: 0","배정원"]]

In [ ]:
dict2_w

   Unnamed: 0  배정원
0         조용한    9
1         깨끗한    9
2         깔끔한    9
3        노키즈존    7
4         번호표    2
..        ...  ...
85       대중교통    9
86    역 앞에 위치    9
87        가까운    2
88         후딱    8
89     음식이 빨리    9

[90 rows x 2 columns]

In [ ]:
dict2_w.loc[:, 'avg'] = dict2_w.mean(axis='columns')

<ipython-input-16-a30a9ed02f93>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dict2_w.loc[:, 'avg'] = dict2_w.mean(axis='columns')

In [ ]:
dict2_w

   Unnamed: 0  배정원  avg
0         조용한    9  9.0
1         깨끗한    9  9.0
2         깔끔한    9  9.0
3        노키즈존    7  7.0
4         번호표    2  2.0
..        ...  ...  ...
85       대중교통    9  9.0
86    역 앞에 위치    9  9.0
87        가까운    2  2.0
88         후딱    8  8.0
89     음식이 빨리    9  9.0

[90 rows x 3 columns]

In [ ]:
ss=[]
s=0
j=0
k=0
for i in range(len(dict2_w['avg'].tolist())):
    s += dict2_w['avg'].tolist()[i]
    if j == indexnum[k]-1:
        ss.append(s/indexnum[k])
        j = 0
        k += 1
        s = 0
    else:
        j+=1

In [ ]:
ss

[7.375, 6.722222222222222, 7.5, 7.176470588235294, 6.75, 7.733333333333333]

In [ ]:
newavg_temp = []

k=0
for i in range(len(dict2_w['avg'].tolist())):
    if j <= indexnum[k]-1:
        newavg_temp.append(dict2_w['avg'].tolist()[i] * max(ss) / ss[k])
        j = 0
    else:
        k+=1

In [ ]:
newavg = []

for item in newavg_temp:
    newavg.append(item/max(newavg_temp))

In [ ]:
dict2_w.loc[:, 'newavg'] = newavg

In [ ]:
dict2_w

   Unnamed: 0  배정원  avg    newavg
0         조용한    9  9.0  1.000000
1         깨끗한    9  9.0  1.000000
2         깔끔한    9  9.0  1.000000
3        노키즈존    7  7.0  0.777778
4         번호표    2  2.0  0.222222
..        ...  ...  ...       ...
85       대중교통    9  9.0  1.000000
86    역 앞에 위치    9  9.0  1.000000
87        가까운    2  2.0  0.222222
88         후딱    8  8.0  0.888889
89     음식이 빨리    9  9.0  1.000000

[90 rows x 4 columns]

In [ ]:
wordrowname = dict2_w['Unnamed: 0'].tolist()

In [ ]:
wordrowdict = {}
for i, v in enumerate(wordrowname):
    wordtemp = ''
    if len(okt.morphs(v, stem=True)) > 1:
        for item in okt.morphs(v, stem=True):
            wordtemp+=item
        wordrowdict[i] = wordtemp
    else: wordrowdict[i] = okt.morphs(v, stem=True)[0]
wordrowdict

{0: '조용하다',
 1: '깨끗하다',
 2: '깔끔하다',
 3: '노키즈존',
 4: '번호표',
 5: '넓다',
 6: '널찍하다',
 7: '편안하다',
 8: '간판',
 9: '콜키지',
 10: '급하다',
 11: '바로',
 12: '눈앞에',
 13: '보이다대로',
 14: '보다',
 15: '마침',
 16: '의외로',
 17: '곧바로',
 18: '즉흥적인',
 19: '직관적인',
 20: '이끌다',
 21: '예상못하다',
 22: '매력적인',
 23: '가게앞메뉴판',
 24: '맛있다보이다',
 25: '눈에들어오다',
 26: '맵다맛',
 27: '현지',
 28: '처음먹다보다',
 29: '신기하다',
 30: '향신료',
 31: '강렬하다',
 32: '강하다',
 33: '특이하다',
 34: '독특하다',
 35: '로컬',
 36: '특별하다',
 37: '새롭다',
 38: '도전',
 39: '채다린지',
 40: '푸드파이트',
 41: '푸드파이터',
 42: '인스타그램',
 43: '페이스북',
 44: 'SNS',
 45: '스토리',
 46: '플레이팅',
 47: '사진',
 48: '퍼포먼스',
 49: '불쇼',
 50: '공유',
 51: '자랑',
 52: '재미',
 53: '감성샷',
 54: '야경',
 55: '바다뷰',
 56: '리버뷰',
 57: '예쁘다',
 58: '화려하다',
 59: '고급',
 60: '와인',
 61: '위스키',
 62: '비싸다',
 63: '트러플',
 64: '럭셔리',
 65: '오마카세',
 66: '미식',
 67: '콜키지',
 68: '샴페인',
 69: '페어링',
 70: '샥스핀',
 71: '캐비어',
 72: '푸아그라',
 73: '샤프란',
 74: '과소비',
 75: '회전율',
 76: '빠르다',
 77: '빨리나오다',
 78: '패스트푸드',
 79: '금방',
 80: '신속하다',
 81: '온라인예약',
 82: '캐치테이블',
 83: '이동성',
 84: '교통',
 85: '대중교통',
 86: '역앞에위치',
 87: '가깝다',
 88: '후딱',
 89: '음식이빨리'}

In [ ]:
dict2_w = dict2_w.rename(index = wordrowdict)

In [ ]:
okt = Okt()

In [ ]:
kkma = Kkma()

In [ ]:
def delete_newline(w):
    w = w.strip()
    w = re.sub(r"[^0-9가-힣?.!,¿]+", " ", w)
    w = w.strip()
    return w

In [ ]:
def preprocess(text):
    text = delete_newline(text)
    text = okt.normalize(text)
    morp = okt.morphs(text, stem=True)
    postag = okt.pos(text, stem=True)
    sentence_end = []
    for i in range(len(postag)):
        if postag[i][1] == 'Punctuation' and postag[i][0]!=',':
            sentence_end.append(i)
    return [text, postag, sentence_end, morp]

In [ ]:
def preprocess_wout_norm(text):
    text = delete_newline(text)
    text = okt.normalize(text)
    morp = okt.morphs(text, stem=False)
    postag = okt.pos(text, stem=False)
    sentence_end = []
    for i in range(len(postag)):
        if postag[i][1] == 'Punctuation' and postag[i][0]!=',':
            sentence_end.append(i)
    return [text, postag, sentence_end, morp]

In [ ]:
def count_keys(text, morp):
    morp_list = []
    for word in morp:
        morp_list.append(word[0])
    
    i=0
    gkeys_normal = []

    for gkey in gkeys:
        gkeys_normal.append([])
        for word in gkey:
            postag = okt.pos(word, stem=True)
            if postag[0][1] == 'Adjective' or postag[0][1] == 'Adverb' or postag[0][1] == 'Noun' or postag[0][1] == 'Verb':
                gkeys_normal[i].append(postag[0][0])
        i+=1
    
    intersect_list = []
    
    for i in range(6):
        intersect_list.append(list(set(morp_list) & set(gkeys_normal[i])))
    
    return intersect_list

In [ ]:
def keys_location(intersection, morp_wout_tag):
    keys_loc = []
    i=0
    for keys in intersection:
        keys_loc.append([])
        for word in keys:
            try:
                keys_loc[i].append(list(np.where(np.array(morp_wout_tag) == word)[0]))
            except:
                pass
        i+=1
    return keys_loc

In [ ]:
def count_keys_in_text(intersection, morp_wout_tag):
    i=0
    count_keys_list = [0, 0, 0, 0, 0, 0]
    for keys in intersection:
        for word in keys:
            try:
                count_keys_list[i]+=((int(morp_wout_tag.count(word)))*dict2_w.loc[word, "newavg"])
            except: pass
        i+=1
    return count_keys_list

In [ ]:
def normalize(lst):
    new = []
    for item in lst:
        try:
            new.append(item/sum(lst))
        except:
            return new
    return new

In [ ]:
def count_keys_in_each_sentence(text):
    func_return_list = preprocess(text)
    text = func_return_list[0]
    morp = func_return_list[1]
    end = func_return_list[2]
    morp_wout_tag = func_return_list[3]
    intersection = count_keys(text, morp)
    keys_location_list = keys_location(intersection, morp_wout_tag)
    keys_location_sentence = []
    count_keys_in_text_output = count_keys_in_text(intersection, morp_wout_tag)
    return count_keys_in_text_output

In [ ]:
def phrase_extracter(raw_key):
    part = ['Adjective', 'Adverb', 'Noun', 'Verb']
    gkeys_phrase = []
    i=0
    for gkey in raw_key:
        gkeys_phrase.append([])
        j=0
        for word in gkey:
            postag = okt.pos(word, stem=True)
            if len(postag)>1:
                gkeys_phrase[i].append([])
                for index in postag:
                    gkeys_phrase[i][j].append(index[0])
                j+=1
            else:
                pass
        i+=1
    return gkeys_phrase

In [ ]:
def count_phrases(text, morp_wout_tag, gkeys_phrase):
    
    phrase_totext = []
    
    for i in range(6):
        phrase_totext.append([])
    
    i=0
    for phrase_list in gkeys_phrase:
        for phrase in phrase_list:
            phrase_totext[i].append(''.join(phrase))
        i+=1
    
    count_list = [0,0,0,0,0,0]
    
    text_tocpr = ''.join( morp_wout_tag)
    
    for i in range(6):
        for item in phrase_totext[i]:
            if item in text_tocpr:
                count_list[i]+=1
    
    return count_list

In [ ]:
def count_phrases_in_each_sentence(text):
    func_return_list = preprocess(text)
    text = func_return_list[0]
    morp = func_return_list[1]
    end = func_return_list[2]
    morp_wout_tag = func_return_list[3]
    gkeys_phrase = phrase_extracter(gkeys)
    return normalize(count_phrases(text, morp_wout_tag, gkeys_phrase))

In [ ]:
def morp_to_sentence(morp_nx, sentence_end):
    sentence_list = []
    stc = ""
    index = -1
    for item in sentence_end:
        for j in range(index+1, item):
            if morp_nx[j][1] != 'Josa' and morp_nx[j][1] != 'Suffix' and j != index+1:
                stc += (" "+morp_nx[j][0])
            else:
                stc += morp_nx[j][0]
        sentence_list.append(stc)
        index=item
        stc = ""
    return sentence_list

In [ ]:
def count_sentences(stc1, stc2):
    from sklearn.feature_extraction.text import TfidfVectorizer
    sentences = (stc1, stc2)
    tfidf_vectorizer = TfidfVectorizer()

    tfidf_matrix = tfidf_vectorizer.fit_transform(sentences)

    from sklearn.metrics.pairwise import cosine_similarity

    cos_similar = cosine_similarity(tfidf_matrix[0:1], tfidf_matrix[1:2])
    
    from sklearn.metrics.pairwise import euclidean_distances

    tfidf_normalized = tfidf_matrix/np.sum(tfidf_matrix)

    euc_d_norm = euclidean_distances(tfidf_normalized[0:1],tfidf_normalized[1:2])

    from sklearn.metrics.pairwise import manhattan_distances
    manhattan_d = manhattan_distances(tfidf_normalized[0:1],tfidf_normalized[1:2])

    return float((cos_similar+euc_d_norm+manhattan_d)/3)

In [ ]:
def merge_df(df):
  place_list = list(set(df['name'].values.tolist()))
  allcontlist = []
  for item in place_list:
    df_temp = df[df['name']==item]
    contlist = []
    for i in range(df_temp.shape[0]):
      contlist.append(df_temp['contents'].iloc[i])
    allcontlist.append(contlist)
  dic = {'name':place_list, 'contents':allcontlist}
  finaldf = pd.DataFrame(dic)
  return finaldf

In [ ]:
raw_data_0 = pd.read_json('PLA000i.json')

In [ ]:
raw_data_0

,name,id,cate1,cate2,loc_x,loc_y,address,callnum,time,restday,...,tag,num_txt,spend_avg,fee,demographic_info,staytime,visit,business_code,filter,cong
0,도동산방,81131,음식점,한식,129.096356,35.604211,울산광역시 울주군 상북면 송락골길 133,052-254-7076,"[1200.0, 2030.0]",NaN,...,NaN,1806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,돈불석쇠구이,81130,음식점,한식,129.343618,35.580631,울산광역시 중구 동천4길 1,None,"[1300.0, 2000.0]",NaN,...,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,육대장,81118,음식점,국밥,129.309975,35.515258,울산광역시 남구 장생포고래로 247,052-268-1666,"[1300.0, 2000.0]",NaN,...,NaN,1195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,진향한식,81117,음식점,뷔페,129.369453,35.501796,울산광역시 남구 장생포고래로 133,052-271-8984,"[1300.0, 2000.0]",NaN,...,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,트레비 브로이,81116,음식점,음식점,129.140074,35.605064,울산광역시 울주군 언양읍 반구대로 1305-11,None,"[1200.0, 2200.0]",NaN,...,NaN,636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,시립문수궁도장,205600,관광지,관광지,129.300912,35.521628,울산광역시 남구 남부순환도로 555,None,"[None, None]",NaN,...,NaN,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,송정바다낚시,205601,관광지,관광지,129.356155,35.369110,울산광역시 울주군 서생면 대송리 339-8,None,"[None, None]",NaN,...,NaN,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,두동 치술령체험휴양마을,205602,관광지,관광지,129.232369,35.652585,울산광역시 울주군 만화로 331,None,"[None, None]",NaN,...,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,골드그린Golf Club,205603,관광지,관광지,129.074280,35.507507,울산광역시 울주군 삼남읍 방기가천로 179,None,"[None, None]",NaN,...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,문화출장소,205604,관광지,관광지,129.293550,35.533785,울산광역시 남구 문수로 370번길 2 톡톡스트리트,None,"[None, None]",NaN,...,NaN,1695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
raw_data = raw_data_0[raw_data_0['cate1'] == '카페']

In [ ]:
raw_data

,name,id,cate1,cate2,loc_x,loc_y,address,callnum,time,restday,...,tag,num_txt,spend_avg,fee,demographic_info,staytime,visit,business_code,filter,cong
25,디오븐,81096,카페,테마카페,129.430260,35.519630,울산광역시 동구 방어진순환도로 875,052-250-6141,"[1000.0, 1900.0]",NaN,...,NaN,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,예쁜고래,81044,카페,카페,129.431289,35.491626,울산광역시 동구 해수욕장7길 16,052-234-7574,"[1100.0, 2359.0]",NaN,...,NaN,455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,콩꼬물 일산점,81030,카페,음식점,129.429270,35.491883,울산광역시 동구 해수욕장9길 26,052-234-3888,"[1100.0, 2300.0]",NaN,...,NaN,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,여행가다,81011,카페,음식점,129.459803,35.584900,울산광역시 북구 동해안로 972,052-251-3989,"[1030.0, 2230.0]",NaN,...,NaN,2511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,나인유,81009,카페,음식점,129.455456,35.609269,울산광역시 북구 동해안로 1321,052-233-4980,"[1000.0, 2300.0]",NaN,...,NaN,1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,우가포커피로스터스,81000,카페,음식점,129.462884,35.595335,울산광역시 북구 동해안로 1110,None,"[1000.0, 2300.0]",NaN,...,NaN,555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,카페 히든베이,80994,카페,음식점,129.450621,35.613671,울산광역시 북구 동해안로 1414,052-297-0019,"[1000.0, 2200.0]",NaN,...,NaN,869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,싱귤러커피,80943,카페,카페,129.251479,35.535417,울산광역시 남구 대학로1번길 3-35,052-225-5863,"[1130.0, 2200.0]",NaN,...,NaN,1524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,카페 숨,80932,카페,음식점,129.321799,35.556123,울산광역시 중구 중앙길 152,052-296-1446,"[1000.0, 2300.0]",NaN,...,NaN,333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,카페살구,80918,카페,음식점,129.324551,35.578092,울산광역시 중구 성안1길 137,052-243-2941,"[1300.0, 2000.0]",NaN,...,NaN,2422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,농도,80910,카페,음식점,129.083327,35.558701,울산광역시 울주군 상북면 명촌길천로 23,052-264-1700,"[1100.0, 2100.0]",NaN,...,NaN,41715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,버블티&커피 구영점,80905,카페,음식점,129.339650,35.661653,울산광역시 울주군 범서읍 점촌3길 8-15,None,"[1300.0, 2000.0]",NaN,...,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,헤이메르,80894,카페,음식점,129.348084,35.368780,울산광역시 울주군 서생면 잿골길 72,None,"[1030.0, 2200.0]",NaN,...,NaN,2974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,본치즈어리,80891,카페,음식점,129.125247,35.635276,울산광역시 울주군 두서면 구량차리로 316-3,052-264-4345,"[1300.0, 2000.0]",NaN,...,NaN,493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,리틀티가든,80890,카페,음식점,129.073890,35.617778,울산광역시 울주군 상북면 신기길 50-1,052-211-6805,"[1300.0, 2000.0]",NaN,...,NaN,545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,스페이스오드,80887,카페,음식점,129.183032,35.539754,울산광역시 울주군 삼동면 대암둔기로 193,052-263-3030,"[1300.0, 2000.0]",NaN,...,NaN,624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,카몬시 카페,80858,카페,음식점,129.460149,35.584395,울산광역시 북구 용바위2길 45,052-281-2800,"[1000.0, 2200.0]",NaN,...,NaN,769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,누트,80850,카페,음식점,129.425800,35.508304,울산광역시 동구 진성14길 68,None,"[1300.0, 2000.0]",NaN,...,NaN,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,카페로데,80846,카페,음식점,129.327262,35.541266,울산광역시 남구 번영로180번길 2,None,"[1300.0, 2000.0]",NaN,...,NaN,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,카페벼리,80827,카페,테마카페,129.457764,35.553290,울산광역시 동구 물목길 20,052-232-2626,"[1300.0, 2000.0]",NaN,...,NaN,1212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,제이커피 울산주전점,80826,카페,테마카페,129.456673,35.559868,울산광역시 동구 동해안로 596,052-252-8886,"[1300.0, 2000.0]",NaN,...,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,태번159,80824,카페,음식점,129.357522,35.646107,울산광역시 북구 매곡로 159,052-922-0159,"[1300.0, 2000.0]",NaN,...,NaN,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,디앤유커피팩토리,80819,카페,카페,129.307814,35.516983,울산광역시 남구 삼산로 288,052-293-5565,"[1300.0, 2000.0]",NaN,...,NaN,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,범산목장 울산옥동점,80813,카페,음식점,129.297422,35.535280,울산광역시 남구 거마로30번길 20,052-256-4485,"[1300.0, 2000.0]",NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,오계절,80812,카페,음식점,129.237386,35.664879,울산광역시 울주군 두동면 박제상로 294-108,052-258-2859,"[1300.0, 2000.0]",NaN,...,NaN,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,테디스,80807,카페,음식점,129.260380,35.542967,울산광역시 남구 대학로84번길 5-13,None,"[1100.0, 2300.0]",NaN,...,NaN,18364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,카페그냥,80486,카페,음식점,129.457678,35.557259,울산광역시 동구 주전해안길 162,052-233-3228,"[1300.0, 2000.0]",NaN,...,NaN,183865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,다온커피,80472,카페,음식점,129.325715,35.529214,울산광역시 북구 송내7길 2,None,"[1300.0, 2000.0]",NaN,...,NaN,1631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,어디,80471,카페,음식점,129.427777,35.501310,울산광역시 동구 번덕8길 99,070-8719-4641,"[900.0, 2000.0]",NaN,...,NaN,874858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,어디,80471,카페,음식점,129.427777,35.501310,울산광역시 동구 번덕8길 99,070-8719-4641,"[1300.0, 2000.0]",NaN,...,NaN,874859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,카페지와이,80470,카페,음식점,129.428042,35.486260,울산광역시 동구 동진4길 32-5,010-2173-7557,"[1300.0, 2000.0]",NaN,...,NaN,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,콜링포트,80469,카페,음식점,129.418084,35.482600,울산광역시 동구 남진길 8,None,"[1300.0, 2000.0]",NaN,...,NaN,392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,삼호동 커피숍,80459,카페,카페,129.268244,35.550145,울산광역시 남구 삼호로23번길 10-24,010-8528-0224,"[1300.0, 2000.0]",NaN,...,NaN,392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,마시미,80456,카페,테마카페,129.259866,35.554118,울산광역시 울주군 범서읍 굴화길 51-2,None,"[1300.0, 2000.0]",NaN,...,NaN,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,하늘달열사흘날,80451,카페,테마카페,129.329968,35.546227,울산광역시 남구 돋질로239번길 36-1,None,"[1300.0, 2000.0]",NaN,...,NaN,14029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,카페 인 나뫼,80450,카페,음식점,129.350483,35.566167,울산광역시 중구 남외1길 48,None,"[1300.0, 2000.0]",NaN,...,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,언라이크커피,80448,카페,음식점,129.267306,35.562559,울산광역시 중구 다운로 107,None,"[1300.0, 2000.0]",NaN,...,NaN,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,더블유비커피,80443,카페,카페,129.249198,35.565905,울산광역시 울주군 범서읍 대리로 106,None,"[1300.0, 2000.0]",NaN,...,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,커피림,80438,카페,음식점,129.329697,35.544942,울산광역시 남구 왕생로128번길 7-1,None,"[1300.0, 2000.0]",NaN,...,NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,카페드롭탑 울산테라스파크점,80434,카페,커피전문점,129.428933,35.500329,울산광역시 동구 방어진순환도로 652,052-209-0822,"[800.0, 2359.0]",NaN,...,NaN,1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,카페주아,80430,카페,음식점,129.116594,35.566123,울산광역시 울주군 언양읍 방천9길 48,None,"[1000.0, 2200.0]",NaN,...,NaN,333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,에이치콤마,80414,카페,음식점,129.426442,35.512897,울산광역시 동구 녹수10길 5-13,052-233-1990,"[1100.0, 2000.0]",NaN,...,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,에이치콤마,80414,카페,음식점,129.426442,35.512897,울산광역시 동구 녹수10길 5-13,052-233-1990,"[1100.0, 1800.0]",NaN,...,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,로스터리 갈라피움,80372,카페,음식점,129.118928,35.590036,울산광역시 울주군 상북면 못안1길 109,010-8161-2123,"[1030.0, 2100.0]",NaN,...,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,미스터팥,80356,카페,테마카페,129.423153,35.494825,울산광역시 동구 월봉로 42-2,052-234-2120,"[1130.0, 2200.0]",NaN,...,NaN,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,카페로드,80330,카페,카페,129.134304,35.559734,울산광역시 울주군 언양읍 언양로 76,None,"[1030.0, 1900.0]",NaN,...,NaN,9481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,서프라운지,205588,카페,음식점,129.346843,35.386710,울산광역시 울주군 서생면 진하해변길 40 서프라운지,010-8495-8978,"[None, None]",NaN,...,NaN,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def listsum(lst):
    output = [0,0,0,0,0,0]
    for item in lst:
        if len(item)==0:
            pass
        else:
            output = [output[i] + item[i] for i in range(len(item))]
    newoutput = [0,0,0,0,0,0]
    for j in range(len(output)):
        try:
            newoutput[j] = output[j]/len(lst)
        except:
            return newoutput
    return newoutput

In [ ]:
tag_list = []
for o in range(raw_data.shape[0]):
    tag_list_eachplace = []
    for j in range(len(raw_data['contents'].iloc[o])):
        tag_list_eachplace.append(count_keys_in_each_sentence(str(raw_data['contents'].iloc[o][j])))
    tag_list.append((listsum(tag_list_eachplace)))
    print('\rProgress: '+str((o+1)/len(raw_data)*100)+'%      ', end='')

Progress: 100.0%

In [ ]:
tag_list

[[0.5527777777777778,
  2.1583333333333337,
  0.32500000000000007,
  1.1055555555555554,
  1.125,
  0.13611111111111113],
 [0.4059829059829061,
  1.7008547008547015,
  0.5085470085470086,
  6.316239316239317,
  0.0,
  0.047008547008547015],
 [1.0202020202020203,
  1.5252525252525253,
  0.45454545454545453,
  0.6161616161616162,
  0.0,
  0.1717171717171717],
 [0.6944444444444446,
  4.225000000000001,
  0.5305555555555556,
  3.7111111111111112,
  0.11944444444444444,
  0.31111111111111106],
 [1.6166666666666671,
  2.850000000000001,
  0.2972222222222222,
  3.2944444444444443,
  0.075,
  0.058333333333333334],
 [1.2111111111111117, 3.0, 0.6083333333333334, 2.977777777777777, 0.125, 0.0],
 [2.415954415954415,
  3.675213675213674,
  0.5299145299145299,
  3.1994301994301986,
  0.14814814814814814,
  0.18233618233618235],
 [1.8722222222222218,
  3.841666666666666,
  1.302777777777778,
  4.919444444444444,
  0.9000000000000001,
  0.20833333333333334],
 [1.988888888888889,
  1.8305555555555564,
  0.46111111111111114,
  1.1944444444444444,
  0.05,
  0.1],
 [1.350427350427351,
  2.387464387464388,
  0.3732193732193732,
  2.3732193732193725,
  0.13105413105413105,
  0.18233618233618232],
 [2.1305555555555546,
  3.4083333333333337,
  0.5138888888888891,
  3.3916666666666666,
  0.175,
  0.3166666666666667],
 [0.2592592592592593,
  1.8148148148148149,
  0.7037037037037038,
  3.0370370370370376,
  0.0,
  0.0],
 [1.4166666666666672,
  3.1777777777777785,
  0.3555555555555556,
  3.077777777777778,
  0.18611111111111114,
  0.26944444444444443],
 [0.8527777777777781,
  3.208333333333333,
  0.6361111111111112,
  1.4722222222222223,
  0.05,
  0.25555555555555554],
 [1.6980056980056981,
  2.96011396011396,
  0.36467236467236475,
  3.088319088319088,
  0.5356125356125356,
  0.09686609686609687],
 [1.6500000000000004,
  2.619444444444446,
  0.5055555555555556,
  4.3583333333333325,
  0.075,
  0.08333333333333334],
 [1.7611111111111115,
  3.4611111111111112,
  0.45833333333333337,
  3.0805555555555544,
  0.05,
  0.25],
 [1.0505050505050506,
  1.9865319865319875,
  0.3265993265993266,
  1.861952861952862,
  0.030303030303030304,
  0.05050505050505051],
 [0.41975308641975306,
  10.11111111111111,
  2.432098765432099,
  14.308641975308644,
  0.1111111111111111,
  1.5555555555555556],
 [2.2222222222222223,
  3.7222222222222223,
  0.1527777777777778,
  2.7444444444444445,
  0.10833333333333335,
  0.1],
 [1.4027777777777781,
  1.9791666666666665,
  0.3819444444444445,
  1.6597222222222228,
  0.1875,
  0.1875],
 [1.9800569800569803,
  2.142450142450143,
  0.4273504273504275,
  1.2279202279202281,
  1.8547008547008552,
  0.17378917378917377],
 [0.9629629629629632,
  2.0802469135802473,
  0.6234567901234569,
  1.8148148148148147,
  0.1111111111111111,
  0.10493827160493828],
 [1.9841269841269842,
  3.2063492063492065,
  0.15873015873015875,
  3.0793650793650795,
  0.4761904761904763,
  0.14285714285714285],
 [2.2111111111111104,
  3.322222222222222,
  0.7194444444444447,
  4.691666666666668,
  0.05,
  0.06666666666666668],
 [0.6182336182336183,
  1.6438746438746443,
  0.2136752136752137,
  0.7435897435897437,
  0.19943019943019943,
  0.5042735042735043],
 [1.6527777777777781,
  3.591666666666666,
  0.7333333333333336,
  2.844444444444444,
  0.3388888888888889,
  0.2194444444444444],
 [2.9093567251461985,
  3.859649122807018,
  0.24269005847953218,
  2.005847953216374,
  0.4473684210526316,
  0.22807017543859653],
 [0.48717948717948717,
  2.6923076923076925,
  0.4586894586894588,
  0.854700854700855,
  0.1168091168091168,
  0.3903133903133903],
 [0.48717948717948717,
  2.6923076923076925,
  0.4586894586894588,
  0.854700854700855,
  0.1168091168091168,
  0.3903133903133903],
 [0.6583333333333334,
  3.0777777777777784,
  0.5805555555555557,
  2.48611111111111,
  0.29444444444444445,
  0.1138888888888889],
 [1.9888888888888894,
  2.7416666666666676,
  0.425,
  2.344444444444443,
  0.1,
  0.1277777777777778],
 [0.8821548821548822,
  2.5488215488215493,
  0.6026936026936028,
  1.3097643097643095,
  0.265993265993266,
  0.2861952861952863],
 [0.7078189300411523,
  1.378600823045268,
  0.3827160493827161,
  0.5144032921810701,
  0.1316872427983539,
  0.037037037037037035],
 [1.4159544159544162,
  2.3561253561253572,
  0.29629629629629634,
  2.4700854700854697,
  0.10256410256410256,
  0.18518518518518517],
 [1.0386473429951693,
  2.434782608695652,
  0.5458937198067634,
  1.9082125603864737,
  0.13043478260869565,
  0.0966183574879227],
 [1.2735042735042736,
  2.270655270655271,
  0.35897435897435903,
  2.2165242165242165,
  0.1794871794871795,
  0.24501424501424504],
 [1.9943019943019942,
  2.680911680911681,
  0.8518518518518519,
  1.635327635327635,
  0.20512820512820512,
  0.2649572649572649],
 [1.6916666666666669,
  1.8777777777777778,
  0.3777777777777778,
  2.5972222222222223,
  0.1,
  0.12222222222222223],
 [1.1481481481481486,
  2.3162393162393173,
  0.6752136752136753,
  0.9743589743589746,
  0.05128205128205128,
  0.2193732193732194],
 [1.357487922705314,
  1.5942028985507248,
  0.3864734299516908,
  1.4879227053140098,
  0.33333333333333337,
  0.10144927536231885],
 [1.202777777777778,
  2.208333333333334,
  0.45833333333333337,
  1.036111111111111,
  0.275,
  0.25277777777777777],
 [1.202777777777778,
  2.208333333333334,
  0.45833333333333337,
  1.036111111111111,
  0.275,
  0.25277777777777777],
 [1.6438746438746443,
  1.9715099715099722,
  0.4387464387464388,
  1.7749287749287748,
  0.07692307692307693,
  0.12535612535612536],
 [0.902777777777778,
  2.3333333333333344,
  0.2666666666666667,
  0.4444444444444445,
  0.075,
  0.13611111111111113],
 [1.1166666666666667,
  2.2388888888888894,
  0.4305555555555555,
  2.0333333333333328,
  0.1638888888888889,
  0.22777777777777777],
 [0.5760233918128655,
  2.394736842105263,
  0.31871345029239767,
  2.0233918128654964,
  0.0,
  0.23391812865497078]]

In [ ]:
tag_1 = []
tag_2 = []
tag_3 = []
tag_4 = []
tag_5 = []
tag_6 = []
for item in tag_list:
  tag_1.append(item[0])
  tag_2.append(item[1])
  tag_3.append(item[2])
  tag_4.append(item[3])
  tag_5.append(item[4])
  tag_6.append(item[5])

In [ ]:
def norm(val, mean, std):
  fval = (val-mean)/std
  return fval

In [ ]:
def meanmax(val, min, max):
  fval = (val - min) / (max - min)
  return fval

In [ ]:
tag_1_norm = []
tag_2_norm = []
tag_3_norm = []
tag_4_norm = []
tag_5_norm = []
tag_6_norm = []
for item in tag_1:
  mean = np.mean(tag_1)
  std = np.std(tag_1)
  tag_1_norm.append(norm(item, mean, std))
for item in tag_2:
  mean = np.mean(tag_2)
  std = np.std(tag_2)
  tag_2_norm.append(norm(item, mean, std))
for item in tag_3:
  mean = np.mean(tag_3)
  std = np.std(tag_3)
  tag_3_norm.append(norm(item, mean, std))
for item in tag_4:
  mean = np.mean(tag_4)
  std = np.std(tag_4)
  tag_4_norm.append(norm(item, mean, std))
for item in tag_5:
  mean = np.mean(tag_5)
  std = np.std(tag_5)
  tag_5_norm.append(norm(item, mean, std))
for item in tag_6:
  mean = np.mean(tag_6)
  std = np.std(tag_6)
  tag_6_norm.append(norm(item, mean, std))

In [ ]:
tag_1_final = []
tag_2_final = []
tag_3_final = []
tag_4_final = []
tag_5_final = []
tag_6_final = []
for item in tag_1_norm:
  min = np.min(tag_1_norm)
  max = np.max(tag_1_norm)
  tag_1_final.append(meanmax(item, min, max))
for item in tag_2_norm:
  min = np.min(tag_2_norm)
  max = np.max(tag_2_norm)
  tag_2_final.append(meanmax(item, min, max))
for item in tag_3_norm:
  min = np.min(tag_3_norm)
  max = np.max(tag_3_norm)
  tag_3_final.append(meanmax(item, min, max))
for item in tag_4_norm:
  min = np.min(tag_4_norm)
  max = np.max(tag_4_norm)
  tag_4_final.append(meanmax(item, min, max))
for item in tag_5_norm:
  min = np.min(tag_5_norm)
  max = np.max(tag_5_norm)
  tag_5_final.append(meanmax(item, min, max))
for item in tag_6_norm:
  min = np.min(tag_6_norm)
  max = np.max(tag_6_norm)
  tag_6_final.append(meanmax(item, min, max))

In [ ]:
tag_list_f = []
for i in range(len(tag_1_final)):
  tmplst = [tag_1_final[i], tag_2_final[i], tag_3_final[i], tag_4_final[i], tag_5_final[i], tag_6_final[i]]
  tag_list_f.append(tmplst)

In [ ]:
tag_list_f

[[0.1107576314821626,
  0.08929076343072571,
  0.07555856465809074,
  0.04768477292965268,
  0.6065668202764974,
  0.08750000000000002],
 [0.055365377542648635,
  0.03690277677082579,
  0.15608562054059688,
  0.4235221590519898,
  0.0,
  0.030219780219780223],
 [0.2871376508743189,
  0.01679376231685368,
  0.13239367267803284,
  0.012385655306403301,
  0.0,
  0.11038961038961038],
 [0.16421478484737048,
  0.3259542884071632,
  0.16574136763710223,
  0.23561887800534279,
  0.06440092165898614,
  0.19999999999999998],
 [0.512210371460096,
  0.16849670122525925,
  0.06337169939065673,
  0.20556544968833473,
  0.040437788018433174,
  0.03749999999999999],
 [0.35917616770871674,
  0.18567389255419411,
  0.19986459038591742,
  0.1827248441674086,
  0.06739631336405527,
  0.0],
 [0.8138172970832035,
  0.26299572246791836,
  0.16546013228477682,
  0.1987122405644221,
  0.07987711213517662,
  0.11721611721611723],
 [0.6086428834130194,
  0.28205702167766245,
  0.5045362220717673,
  0.322773820124666,
  0.4852534562211981,
  0.13392857142857142],
 [0.6526664214784849,
  0.051755419415645654,
  0.13527420446851726,
  0.05409617097061439,
  0.026958525345622094,
  0.0642857142857143],
 [0.41174639997736756,
  0.11552961647212356,
  0.09671371282745689,
  0.13911911774779084,
  0.07066052227342547,
  0.11721611721611722],
 [0.7061235748436923,
  0.2324340245051838,
  0.15842924847664192,
  0.2125779162956366,
  0.09435483870967738,
  0.2035714285714286],
 [0.0, 0.04995287464655979, 0.2417061611374408, 0.18699910952804985, 0.0, 0.0],
 [0.4367414490621555,
  0.20603204524033933,
  0.08896411645226812,
  0.1899376669634906,
  0.10034562211981565,
  0.1732142857142857],
 [0.22396101507907334,
  0.2095311027332704,
  0.21205145565335143,
  0.07413178984861973,
  0.026958525345622094,
  0.16428571428571426],
 [0.5429032166803408,
  0.1811063582976872,
  0.09296390812978494,
  0.19069799301322,
  0.28878648233486937,
  0.06227106227106228],
 [0.5247885251930859,
  0.1420947219604148,
  0.1547731888964117,
  0.28230186999109513,
  0.040437788018433174,
  0.053571428571428575],
 [0.5667157043030528,
  0.23847785108388309,
  0.13405551794177387,
  0.19013802315227057,
  0.026958525345622094,
  0.16071428571428573],
 [0.29857233608612804,
  0.06961699940022283,
  0.07626023265833692,
  0.10224237027442723,
  0.016338500209467942,
  0.03246753246753249],
 [0.060561480936618825, 1.0, 1.0, 1.0, 0.059907834101382465, 1.0],
 [0.7407134976094155,
  0.26837888784165875,
  0.0,
  0.1658949243098842,
  0.058410138248847915,
  0.0642857142857143],
 [0.43150055167340956,
  0.06877356267672001,
  0.1005416384563304,
  0.08765583259127338,
  0.10109447004608291,
  0.12053571428571429],
 [0.6493337482671799,
  0.08747190603929529,
  0.12046247591271293,
  0.056510719912322746,
  1.0,
  0.11172161172161171],
 [0.26553880102979055,
  0.0803487276154571,
  0.20649966147596482,
  0.0988423864648263,
  0.059907834101382465,
  0.06746031746031747],
 [0.650869542373772,
  0.20930389120775544,
  0.0026114711287358486,
  0.19005215621422206,
  0.2567478604344963,
  0.09183673469387756],
 [0.7365207796984184,
  0.22257304429783217,
  0.24861205145565343,
  0.3063446126447017,
  0.026958525345622094,
  0.042857142857142864],
 [0.13545704020143157,
  0.030377727832958747,
  0.026717358470912972,
  0.02157682033015958,
  0.10752688172043008,
  0.32417582417582413],
 [0.5258367046708351,
  0.25342836946277086,
  0.25470548408937044,
  0.1731077471059661,
  0.18271889400921656,
  0.14107142857142854],
 [1.0,
  0.28411627560890923,
  0.039446958628799475,
  0.1126212682195247,
  0.24120785835556627,
  0.14661654135338348],
 [0.0860044699691629,
  0.15043862828971213,
  0.1342117598041769,
  0.02959106788136173,
  0.06298003072196617,
  0.2509157509157509],
 [0.0860044699691629,
  0.15043862828971213,
  0.1342117598041769,
  0.02959106788136173,
  0.06298003072196617,
  0.2509157509157509],
 [0.15058845163663115,
  0.19458058435438266,
  0.18767772511848346,
  0.14726179875333914,
  0.15875576036866354,
  0.07321428571428573],
 [0.652666421478485,
  0.15609095193213954,
  0.11943127962085306,
  0.1370436331255564,
  0.053917050691244216,
  0.08214285714285716],
 [0.23504630713163266,
  0.13400736869162883,
  0.19739028743768086,
  0.062413988504816595,
  0.14341572406088532,
  0.18398268398268403],
 [0.16926157492542196,
  0.0,
  0.1008801624915369,
  0.005046007717423567,
  0.07100187745349032,
  0.023809523809523808],
 [0.43647268509350173,
  0.11194083955629675,
  0.06296547054840895,
  0.1461058976642235,
  0.05529953917050689,
  0.11904761904761905],
 [0.29409789404672443,
  0.12094824406835217,
  0.17247063671955493,
  0.10557900034844551,
  0.07032658785814463,
  0.06211180124223603],
 [0.3827198913627749,
  0.10215326614949613,
  0.09046403833133693,
  0.12781697376532636,
  0.09677419354838707,
  0.15750915750915753],
 [0.6547090276402525,
  0.14913361850213872,
  0.3067027758970887,
  0.08589629426673052,
  0.11059907834101378,
  0.17032967032967028],
 [0.5405112173593235,
  0.05716305372290286,
  0.09871360866621531,
  0.15527604630454137,
  0.053917050691244216,
  0.07857142857142858],
 [0.3354174328797354,
  0.10737330529978982,
  0.2292068121452008,
  0.03822179601342555,
  0.02764976958525344,
  0.14102564102564105],
 [0.4144106688840207,
  0.024689587345818106,
  0.10252862735862942,
  0.07526423787215918,
  0.1797235023041474,
  0.06521739130434784],
 [0.35603162927546905,
  0.09501649387370407,
  0.13405551794177387,
  0.04267586821015134,
  0.14827188940092162,
  0.1625],
 [0.35603162927546905,
  0.09501649387370407,
  0.13405551794177387,
  0.04267586821015134,
  0.14827188940092162,
  0.1625],
 [0.5224771550626648,
  0.06789675922569421,
  0.1254622155096089,
  0.0959654770874717,
  0.04147465437788017,
  0.08058608058608059],
 [0.24282824567855843,
  0.10933081998114992,
  0.049966147596479354,
  0.0,
  0.040437788018433174,
  0.08750000000000002],
 [0.32353806546524466,
  0.09851555136663526,
  0.12186865267433986,
  0.11460373998219048,
  0.08836405529953914,
  0.14642857142857144],
 [0.11952923869069514,
  0.11636241877077226,
  0.07280048462388197,
  0.11388667572760923,
  0.0,
  0.15037593984962408]]

In [ ]:
raw_data['tag'] = tag_list_f

<ipython-input-58-9d0913388c5f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['tag'] = tag_list_f

In [ ]:
raw_data.to_json("PLA000.json")