In [ ]:
# -*- coding: utf-8 -*-

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 49.2 MB/s eta 0:00:00
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.1-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 43.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.9/dist-packages (from konlpy) (1.22.4)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.9/dist-packages (from konlpy) (4.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from JPype1>=0.7.0->konlpy) (23.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [ ]:
import pandas as pd
import numpy as np
from konlpy.tag import *
import re
import pickle

In [ ]:
okt = Okt()
kkma = Kkma()

In [ ]:
dict2_w = pd.read_csv("dict2_weight_place.csv")

In [ ]:
gkeys = [['안맞는',
  '더운',
  '그만두다',
  '짜증내다',
  '싫다',
  '신경쓰다',
  '예민하다',
  '싫어하다',
  '신경쓰이다',
  '민감하다',
  '꺼려한다'],
 ['잠시들르다', '무지성', '갑자기', '기분', '바로', '즉시', '떠오르다', '당일치기'],
 ['목표', '자신감', '열정', '해보다', '모험', '참여하다', '성취', '챌린지', '언제해보겠어'],
 ['올리다',
  '콘텐츠',
  '소셜',
  '업로드',
  '촬영',
  '사진기',
  '동영상',
  '네이버',
  '인스타',
  '블로그',
  '공유',
  '사진',
  'SNS',
  '유투브',
  '카메라',
  '영상',
  '캠코더',
  '페이스북',
  '브이로그',
  '편집'],
 ['기분', '소비', '텅장', '쇼핑', '지름신', '순삭'],
 ['프레스티지', '급행열차', '온라인', '퍼스트', '기차', '비행기']]

In [ ]:
wordrowname = dict2_w['Unnamed: 0'].tolist()

In [ ]:
wordrowdict = {}
for i, v in enumerate(wordrowname):
    wordtemp = ''
    if len(okt.morphs(v, stem=True)) > 1:
        for item in okt.morphs(v, stem=True):
            wordtemp+=item
        wordrowdict[i] = wordtemp
    else: wordrowdict[i] = okt.morphs(v, stem=True)[0]
wordrowdict

{0: '민감하다',
 1: '예민하다',
 2: '짜증내다',
 3: '싫어하다',
 4: '꺼리다',
 5: '안맞다',
 6: '싫다',
 7: '덥다',
 8: '신경쓰이다',
 9: '그만두다',
 10: '신경쓰다',
 11: '기분',
 12: '바로',
 13: '떠오르다',
 14: '즉시',
 15: '무지성',
 16: '당일치기',
 17: '잠시들르다',
 18: '갑자기',
 19: '해보다',
 20: '참여하다',
 21: '채다린지',
 22: '모험',
 23: '자신감',
 24: '열정',
 25: '목표',
 26: '성취',
 27: '언제해보다',
 28: 'SNS',
 29: '소셜',
 30: '콘텐츠',
 31: '유투브',
 32: '블로그',
 33: '네이버',
 34: '사진',
 35: '영상',
 36: '공유',
 37: '촬영',
 38: '사진기',
 39: '카메라',
 40: '캠코더',
 41: '동영상',
 42: '편집',
 43: '인스타',
 44: '페이스북',
 45: '브이로그',
 46: '업로드',
 47: '올리다',
 48: '소비',
 49: '텅장',
 50: '쇼핑',
 51: '순삭',
 52: '지름신',
 53: '기차',
 54: '비행기',
 55: '퍼스트',
 56: '프레스티지',
 57: '온라인',
 58: '급행열차'}

In [ ]:
dict2_w = dict2_w.rename(index = wordrowdict).drop(['Unnamed: 0'], axis=1)

In [ ]:
dict2_w

         newavg
민감하다   1.000000
예민하다   0.955556
짜증내다   0.822222
싫어하다   0.688889
꺼리다    0.755556
안맞다    0.777778
싫다     0.644444
덥다     0.666667
신경쓰이다  0.866667
그만두다   0.244444
신경쓰다   0.844444
기분     0.777778
바로     1.000000
떠오르다   0.755556
즉시     0.955556
무지성    1.000000
당일치기   0.866667
잠시들르다  0.777778
갑자기    0.888889
해보다    0.977778
참여하다   0.977778
채다린지   0.977778
모험     0.955556
자신감    0.777778
열정     0.800000
목표     0.888889
성취     0.888889
언제해보다  0.911111
SNS    1.000000
소셜     1.000000
콘텐츠    0.888889
유투브    0.955556
블로그    0.933333
네이버    0.777778
사진     0.955556
영상     0.933333
공유     0.977778
촬영     0.866667
사진기    0.866667
카메라    0.866667
캠코더    0.866667
동영상    0.888889
편집     0.777778
인스타    1.000000
페이스북   1.000000
브이로그   0.955556
업로드    0.977778
올리다    0.755556
소비     0.688889
텅장     0.888889
쇼핑     0.666667
순삭     0.511111
지름신    1.000000
기차     0.777778
비행기    0.977778
퍼스트    0.733333
프레스티지  0.533333
온라인    0.755556
급행열차   0.866667

In [ ]:
def delete_newline(w):
    w = w.strip()
    w = re.sub(r"[^0-9가-힣?.!,¿]+", " ", w)
    w = w.strip()
    return w

In [ ]:
def preprocess(text):
    text = delete_newline(text)
    text = okt.normalize(text)
    morp = okt.morphs(text, stem=True)
    postag = okt.pos(text, stem=True)
    sentence_end = []
    for i in range(len(postag)):
        if postag[i][1] == 'Punctuation' and postag[i][0]!=',':
            sentence_end.append(i)
    return [text, postag, sentence_end, morp]

In [ ]:
def preprocess_wout_norm(text):
    text = delete_newline(text)
    text = okt.normalize(text)
    morp = okt.morphs(text, stem=False)
    postag = okt.pos(text, stem=False)
    sentence_end = []
    for i in range(len(postag)):
        if postag[i][1] == 'Punctuation' and postag[i][0]!=',':
            sentence_end.append(i)
    return [text, postag, sentence_end, morp]

In [ ]:
def count_keys(text, morp):
    morp_list = []
    for word in morp:
        morp_list.append(word[0])
    
    i=0
    gkeys_normal = []

    for gkey in gkeys:
        gkeys_normal.append([])
        for word in gkey:
            postag = okt.pos(word, stem=True)
            if postag[0][1] == 'Adjective' or postag[0][1] == 'Adverb' or postag[0][1] == 'Noun' or postag[0][1] == 'Verb':
                gkeys_normal[i].append(postag[0][0])
        i+=1
    
    intersect_list = []
    
    for i in range(6):
        intersect_list.append(list(set(morp_list) & set(gkeys_normal[i])))
    
    return intersect_list

In [ ]:
def keys_location(intersection, morp_wout_tag):
    keys_loc = []
    i=0
    for keys in intersection:
        keys_loc.append([])
        for word in keys:
            try:
                keys_loc[i].append(list(np.where(np.array(morp_wout_tag) == word)[0]))
            except:
                pass
        i+=1
    return keys_loc

In [ ]:
def count_keys_in_text(intersection, morp_wout_tag):
    i=0
    count_keys_list = [0, 0, 0, 0, 0, 0]
    for keys in intersection:
        for word in keys:
            try:
                count_keys_list[i]+=((int(morp_wout_tag.count(word)))*dict2_w.loc[word, "newavg"])
            except: pass
        i+=1
    return count_keys_list

In [ ]:
def normalize(lst):
    new = []
    for item in lst:
        try:
            new.append(item/sum(lst))
        except:
            return new
    return new

In [ ]:
def count_keys_in_each_sentence(text):
    func_return_list = preprocess(text)
    text = func_return_list[0]
    morp = func_return_list[1]
    end = func_return_list[2]
    morp_wout_tag = func_return_list[3]
    intersection = count_keys(text, morp)
    keys_location_list = keys_location(intersection, morp_wout_tag)
    keys_location_sentence = []
    count_keys_in_text_output = count_keys_in_text(intersection, morp_wout_tag)
    return count_keys_in_text_output

In [ ]:
def phrase_extracter(raw_key):
    part = ['Adjective', 'Adverb', 'Noun', 'Verb']
    gkeys_phrase = []
    i=0
    for gkey in raw_key:
        gkeys_phrase.append([])
        j=0
        for word in gkey:
            postag = okt.pos(word, stem=True)
            if len(postag)>1:
                gkeys_phrase[i].append([])
                for index in postag:
                    gkeys_phrase[i][j].append(index[0])
                j+=1
            else:
                pass
        i+=1
    return gkeys_phrase

In [ ]:
def count_phrases(text, morp_wout_tag, gkeys_phrase):
    
    phrase_totext = []
    
    for i in range(6):
        phrase_totext.append([])
    
    i=0
    for phrase_list in gkeys_phrase:
        for phrase in phrase_list:
            phrase_totext[i].append(''.join(phrase))
        i+=1
    
    count_list = [0,0,0,0,0,0]
    
    text_tocpr = ''.join( morp_wout_tag)
    
    for i in range(6):
        for item in phrase_totext[i]:
            if item in text_tocpr:
                count_list[i]+=1
    
    return count_list

In [ ]:
def count_phrases_in_each_sentence(text):
    func_return_list = preprocess(text)
    text = func_return_list[0]
    morp = func_return_list[1]
    end = func_return_list[2]
    morp_wout_tag = func_return_list[3]
    gkeys_phrase = phrase_extracter(gkeys)
    return normalize(count_phrases(text, morp_wout_tag, gkeys_phrase))

In [ ]:
def morp_to_sentence(morp_nx, sentence_end):
    sentence_list = []
    stc = ""
    index = -1
    for item in sentence_end:
        for j in range(index+1, item):
            if morp_nx[j][1] != 'Josa' and morp_nx[j][1] != 'Suffix' and j != index+1:
                stc += (" "+morp_nx[j][0])
            else:
                stc += morp_nx[j][0]
        sentence_list.append(stc)
        index=item
        stc = ""
    return sentence_list

In [ ]:
def count_sentences(stc1, stc2):
    from sklearn.feature_extraction.text import TfidfVectorizer
    sentences = (stc1, stc2)
    tfidf_vectorizer = TfidfVectorizer()

    tfidf_matrix = tfidf_vectorizer.fit_transform(sentences)

    from sklearn.metrics.pairwise import cosine_similarity

    cos_similar = cosine_similarity(tfidf_matrix[0:1], tfidf_matrix[1:2])
    
    from sklearn.metrics.pairwise import euclidean_distances

    tfidf_normalized = tfidf_matrix/np.sum(tfidf_matrix)

    euc_d_norm = euclidean_distances(tfidf_normalized[0:1],tfidf_normalized[1:2])

    from sklearn.metrics.pairwise import manhattan_distances
    manhattan_d = manhattan_distances(tfidf_normalized[0:1],tfidf_normalized[1:2])

    return float((cos_similar+euc_d_norm+manhattan_d)/3)

In [ ]:
def tagger(lst):
    taglist = []
    if sum(lst) == 0:
        return taglist
    for p in range(6):
        if lst[p]>=np.mean(np.array(lst)):
            taglist.append('1')
        else:
            taglist.append('0')
    return "".join(taglist)

In [ ]:
def merge_df(df):
  place_list = list(set(df['name'].values.tolist()))
  allcontlist = []
  for item in place_list:
    df_temp = df[df['name']==item]
    contlist = []
    for i in range(df_temp.shape[0]):
      contlist.append(df_temp['contents'].iloc[i])
    allcontlist.append(contlist)
  dic = {'name':place_list, 'contents':allcontlist}
  finaldf = pd.DataFrame(dic)
  return finaldf

In [ ]:
raw_data_0 = pd.read_json('PLA000i.json')

In [ ]:
raw_data = raw_data_0[raw_data_0['cate1']=='관광지']

In [ ]:
raw_data

,name,id,cate1,cate2,loc_x,loc_y,address,callnum,time,restday,...,tag,num_txt,spend_avg,fee,demographic_info,staytime,visit,business_code,filter,cong
291,베네치아,80809,관광지,숙박,129.009856,35.527101,울산광역시 울주군 상북면 배내로 950,1544-8107,"[800.0, 2000.0]",NaN,...,NaN,5310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,고복수음악관,205399,관광지,문화시설,129.319775,35.556303,울산광역시 중구 중앙1길 9\n,None,"[None, None]",NaN,...,NaN,285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,바보사거리,205400,관광지,"관광,명소",129.260659,35.543099,울산광역시 남구 대학로84번길 5-9,None,"[None, None]",NaN,...,NaN,4899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,삼산디자인거리,205401,관광지,"관광,명소",129.337267,35.540488,울산광역시 남구 삼산로 226,None,"[None, None]",NaN,...,NaN,3643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,시계탑거리,205402,관광지,관광지,129.321603,35.555083,울산광역시 중구 시계탑거리 4,None,"[None, None]",NaN,...,NaN,4720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,시립문수궁도장,205600,관광지,관광지,129.300912,35.521628,울산광역시 남구 남부순환도로 555,None,"[None, None]",NaN,...,NaN,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,송정바다낚시,205601,관광지,관광지,129.356155,35.369110,울산광역시 울주군 서생면 대송리 339-8,None,"[None, None]",NaN,...,NaN,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,두동 치술령체험휴양마을,205602,관광지,관광지,129.232369,35.652585,울산광역시 울주군 만화로 331,None,"[None, None]",NaN,...,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,골드그린Golf Club,205603,관광지,관광지,129.074280,35.507507,울산광역시 울주군 삼남읍 방기가천로 179,None,"[None, None]",NaN,...,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,문화출장소,205604,관광지,관광지,129.293550,35.533785,울산광역시 남구 문수로 370번길 2 톡톡스트리트,None,"[None, None]",NaN,...,NaN,1695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def listsum(lst):
    output = [0,0,0,0,0,0]
    for item in lst:
        if len(item)==0:
            pass
        else:
            output = [output[i] + item[i] for i in range(len(item))]
    newoutput = [0,0,0,0,0,0]
    for j in range(len(output)):
        try:
            newoutput[j] = output[j]/len(lst)
        except:
            return newoutput
    return newoutput

In [ ]:
tag_list = []
for o in range(raw_data.shape[0]):
  tag_list_eachplace = []
  for j in range(len(raw_data['contents'].iloc[o])):
    tag_list_eachplace.append(count_keys_in_each_sentence(str(raw_data['contents'].iloc[o][j])))
  tag_list.append((listsum(tag_list_eachplace)))
  print("\rProgress: ", ((o+1)/len(raw_data)*100), '%     ', end='')

Progress:  100.0 %

In [ ]:
tag_1 = []
tag_2 = []
tag_3 = []
tag_4 = []
tag_5 = []
tag_6 = []
for item in tag_list:
  tag_1.append(item[0])
  tag_2.append(item[1])
  tag_3.append(item[2])
  tag_4.append(item[3])
  tag_5.append(item[4])
  tag_6.append(item[5])

In [ ]:
def norm(val, mean, std):
  fval = (val-mean)/std
  return fval

In [ ]:
def meanmax(val, min, max):
  fval = (val - min) / (max - min)
  return fval

In [ ]:
tag_1_norm = []
tag_2_norm = []
tag_3_norm = []
tag_4_norm = []
tag_5_norm = []
tag_6_norm = []
for item in tag_1:
  mean = np.mean(tag_1)
  std = np.std(tag_1)
  tag_1_norm.append(norm(item, mean, std))
for item in tag_2:
  mean = np.mean(tag_2)
  std = np.std(tag_2)
  tag_2_norm.append(norm(item, mean, std))
for item in tag_3:
  mean = np.mean(tag_3)
  std = np.std(tag_3)
  tag_3_norm.append(norm(item, mean, std))
for item in tag_4:
  mean = np.mean(tag_4)
  std = np.std(tag_4)
  tag_4_norm.append(norm(item, mean, std))
for item in tag_5:
  mean = np.mean(tag_5)
  std = np.std(tag_5)
  tag_5_norm.append(norm(item, mean, std))
for item in tag_6:
  mean = np.mean(tag_6)
  std = np.std(tag_6)
  tag_6_norm.append(norm(item, mean, std))

In [ ]:
tag_1_final = []
tag_2_final = []
tag_3_final = []
tag_4_final = []
tag_5_final = []
tag_6_final = []
for item in tag_1_norm:
  min = np.min(tag_1_norm)
  max = np.max(tag_1_norm)
  tag_1_final.append(meanmax(item, min, max))
for item in tag_2_norm:
  min = np.min(tag_2_norm)
  max = np.max(tag_2_norm)
  tag_2_final.append(meanmax(item, min, max))
for item in tag_3_norm:
  min = np.min(tag_3_norm)
  max = np.max(tag_3_norm)
  tag_3_final.append(meanmax(item, min, max))
for item in tag_4_norm:
  min = np.min(tag_4_norm)
  max = np.max(tag_4_norm)
  tag_4_final.append(meanmax(item, min, max))
for item in tag_5_norm:
  min = np.min(tag_5_norm)
  max = np.max(tag_5_norm)
  tag_5_final.append(meanmax(item, min, max))
for item in tag_6_norm:
  min = np.min(tag_6_norm)
  max = np.max(tag_6_norm)
  tag_6_final.append(meanmax(item, min, max))

In [ ]:
tag_list_f = []
for i in range(len(tag_1_final)):
  tmplst = [tag_1_final[i], tag_2_final[i], tag_3_final[i], tag_4_final[i], tag_5_final[i], tag_6_final[i]]
  tag_list_f.append(tmplst)

In [ ]:
raw_data['tag'] = tag_list_f

<ipython-input-38-9d0913388c5f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['tag'] = tag_list_f

In [ ]:
raw_data.to_json("PLA000.json")